@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --max-width: 1400px;
  }
}

.nav-spacing header {
  max-width: 100vw !important;
}

@media screen and (min-width: 761px) {
  #nd-docs-layout {
    height: calc(100vh - 4rem);
    @apply overflow-y-auto;
  }
}

#nd-docs-layout::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 761px) {
  #nd-docs-layout aside {
    height: calc(100vh - 4rem);
  }
}

@media screen and (min-width: 761px) {
  #nd-docs-layout>div:last-child {
    height: calc(100vh - 4rem);
  }
}

#nd-docs-layout aside {
  @apply md:bg-transparent;
  @apply border-r-0;
}

#nd-tocnav {
  @apply mt-6;
  @apply -mb-6;
  @apply relative;
  @apply top-0;
  @apply rounded-none;
  @apply border-none;
  @apply shadow-none;
  @apply drop-shadow-none;
}

#nd-subnav {
  @apply hidden;
}

h3.mb-1 {
  margin-bottom: 0;
}

button.inline-flex.items-center.rounded-full.border.p-0\.5 {
  @apply p-1.5;
}